<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card Id="1" photoCover="https://cdn.pixabay.com/photo/2016/09/15/12/12/renault-clio-1671405_1280.jpg"
      cardTitle="Novo modelo da Renault" cardDescription="Mais bajulado no salão do automóvel de SP">
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card Id="2" cardTitle="Novo modelo híbrido da Toyota"
      photoCover="https://cdn.pixabay.com/photo/2016/04/01/12/16/car-1300629_1280.png">
    </app-small-card>

    <app-small-card Id="3" cardTitle="Novo modelo da Fiat 2024"
      photoCover="https://cdn.pixabay.com/photo/2016/12/07/21/50/car-1890494_1280.jpg">
    </app-small-card>

    <app-small-card Id="4" cardTitle="Lançamento da nova Ferrari é o mais esperado no salão do automóvel de SP"
      photoCover="https://cdn.pixabay.com/photo/2023/05/03/16/11/alfa-romeo-7968027_1280.jpg">
    </app-small-card>
  </div>
</div>
